* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  min-height: 778px;
  min-width: 270px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #D2D2D2;
  position: fixed;
}

.main {
  width: 100%;
  display: flex;
  margin-top: 6vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../assets/footballFieldBackground.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  overflow: scroll;
}

.titleDiv {
  margin: 1rem 0;
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.scoreboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.scoreboard > div {
  background-color: white;
}

.scoreboard > div {
  border: 1px solid black;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  border-top: 1px solid black;
  background-color: #D2D2D2;
  padding: 0.5rem 0;
}

a {
  color: black;
}

.blank {
  height: 6vh;
  width: 6vh;
}

.logo {
  height: 6vh;
  width: 6vh;
}